<div id="overlay">
    <h1 class="intro">ATLANTIDE</h1>
    <button id="start">PLONGER</button>
</div>

<script type="module" src="./javascripts/overlay.js"></script>

<script type="module" src="./javascripts/main.js">
</script>