<div id="overlay">
    <video autoplay muted loop id="myVideo">
        <source src="/assets/intro.mp4" type="video/mp4">
    </video>
    <h1 class="intro">ATLANTIDE</h1>
    <button id="start">PLONGER</button>
    <!--<audio id="introSong" autoplay>
        <source src="/assets/sounds/under-water-sounds-while-scuba-diving.mp3" type="audio/mp3">
    </audio>-->
</div>

<script type="module" src="./javascripts/overlay.js"></script>

<script type="module" src="./javascripts/main.js">
</script>