body {
    margin: 0;
    background-color: black;
}

h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 3rem;
}

#overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start {
    font-size: 1rem;
    border-radius: 4px;
    padding: 15px;
}